<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>旅館的資訊</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <div class="title">    
            <div class="titleword">旅館的資訊</div>
        </div>
        <div class="system">
            <label>{{ msg }}</label>
            <a href="/">返回首頁</a>
        </div>
    </body>
</html>