body{
    margin:0px;
}
.title{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: rgb(19, 16, 56);
    padding: 40px;
}
.titleword{
    color: #ffffff;
    font-weight: bold;
}
.system{
    display:grid;
    justify-items: center;
    align-items: center;
    margin-top: 40px;
    gap: 10px;
}
.systemtitle{
    display:grid;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}
.button{
    width: 50px;
    cursor: pointer;
}
.logout{
    text-decoration:underline;
    color:  #a0299a;
    
}